/* Footer Styles */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #4a76a8;
    color: black;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Header Styles */
.footer-header {
    margin-right: 20px;
    font-size: 24px;
}

/* Icon Link Styles */
.icon-link {
    font-size: 36px;
    text-decoration: none;
    color: inherit;
    margin-right: 20px;
}

.icon-link:hover {
    color: white;
    transform: scale(1.1);
}

/* Email Icon Specific Style */
.email-icon {
    margin-right: 0;
}
