header {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    background-color: #287E8B;
}
p {
    color: #FFFFFF; 
    font-size: 36px;
    padding: 15px; 
}
a {
    list-style: none;
    text-decoration: none;
    color: #FFFFFF; 
    font-size: 36px;
    transition: color 0.3 ease; 
}
a:hover {
    color: #FFA726;
}